{
  "plugins": ["babel-plugin-styled-components"],
  "presets": [
    "react-app",
    ["env", {
      "targets": {
        "node": "current",
        "browsers": ["last 2 versions"]
      },
    }]
  ]
}
