{
  "plugins": [],
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current",
          "browsers": [
            "last 2 versions"
          ]
        }
      }
    ],
    "@babel/preset-flow"
  ]
}
