# dependencies
/node_modules

# production
/public

### JetBrains ###
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/

/*.log
/flow-typed/npm
/.eslintcache
/coverage/
