@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

#app {
  width: 100%;
  height: 100%;
  display: table;
  background: radial-gradient(ellipse at center, #ac4b4c 0%,#8e282c 100%);
}

.app-container {
  display: table-cell;
  vertical-align: middle;
}

.score {
  display: block;
  height: 120px;
  margin-bottom: 30px;
  color: white;
  text-align: center;
  font-size: 60px;
  font-weight: bold;

  button {
    display: block;
    margin: 10px auto 0;
    min-width: 100px;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: #3ecc70;
    border: 1px solid #3ecc70;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
    white-space: nowrap;
  }
}

.results {
  margin-bottom: 30px;
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.results__number {
  font-size: 40px;
}

.play-area-cards {
  padding: 30px;
  margin-bottom: 30px;
}

.play-area-cards__deck {
  width: 115px;
  display: inline-block;
  vertical-align: top;
}

.play-area-cards__items {
  width: calc(100% - 235px);
  display: inline-block;
  text-align: center;
}

.play-area__actions {
  text-align: center;
}

.play-area__actions button {
  min-width: 100px;
  padding: 10px;
  margin: 0 7px;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  font-weight: bold;
  background-color: #3ecc70;
  border: 1px solid #3ecc70;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
  white-space: nowrap;

  &.is-success {
    background: #ff6600;
    border: 1px solid #ff6600;

    &:hover,
    &:focus {
      color: white;
      background-color: darken(#ff6600, 10%);
      border-color: darken(#ff6600, 10%);
    }
  }
}

.play-area__actions button:hover {
  background-color: darken(#3ecc70, 10%);
  border-color: darken(#3ecc70, 10%);
}

.play-area__actions button:active {
  transform: scale(0.95);
  outline: none;
}

.play-area__actions button:focus {
  outline: none;
}

.card {
  position: relative;
  width: 100px;
  display: inline-block;
  margin: 7px;
  color: white;
  text-align: center;
  vertical-align: top;
  -webkit-perspective: 800;
  -moz-perspective: 800;
  -o-perspective: 800;
  perspective: 800;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card:after {
  width: 100px;
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  bottom: 5px;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.card:hover:after {
  width: 60px;
  top: 10px;
  bottom: 10px;
  box-shadow: 10px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.card:hover .card__image {
  transform: rotateY(-60deg);
}

.card__image {
  position: relative;
  width: 100%;
  display: block;
  padding-bottom: 140%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transform-origin: left center;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.card__value {
  font-size: 26px;
  line-height: 26px;
  font-weight: bold;
  position: absolute;
  right: 0px;
  top: calc(50% - 13px);
  z-index: 1;
}

[disabled] {
  opacity: 0.5;
}
